{{ ansible_managed | comment }}

{% if nvidia_legacy | default(False) %}
Section "ServerFlags"
    Option "IgnoreABI" "true"
EndSection
{% endif %}

Section "Device"
        Identifier "nvidia"
        Driver  "nvidia"
        Option  "DynamicTwinView"     "true"
        Option  "NoFlip"              "false"
EndSection

Section "Screen"
        Identifier      "screen"
        Device          "nvidia"
EndSection
